.name{
	padding-top: 30px;
	padding-bottom: 20px;
}
.layer{
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
	padding-bottom: 150px;
}
.skip{
	text-align:center; clear:both;padding-top:20px;
}
.now{
	color:white;font-size:20px;font-weight:400;
}
.no{
	border:none;
}
.sn{
	color: #D48181;
}
.sbt{
	border: 1px solid white;
	color:aqua;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 20px;
	padding-left: 20px;
background-color: rgba(0,0,0,0.5); 
}
.sbt:hover, .sbt:visited{
	background-color: aqua;
    color: rgba(0,0,0,0.5);
}
.logout{
	padding-bottom: 30px;
	margin-bottom: 60px;
}
.upload-button {
    display: block;
    float: left;
}
.top{
	background-color:black;
}
.profile-pic {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.file-upload {
    display: none;
}
.out{
	color:#b8b7ad;
	border:none;
	background:none; 
	font-size: 0.75em;
}
.prof{
	margin-top:-30px;
	margin-left:-20px;
	padding:30px;
	padding-right:100px;
}
.al{
	line-height: 0.1;
}

/*tabs*/

ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
	text-transform: uppercase;
    display: inline;
    border-bottom: solid 2px #B9B9B9;
    padding: 5px;
    text-align: center;
    color: #B9B9B9;
    cursor: pointer;
}
ul#tabs li:hover, ul#tabs li.active {
   border-bottom: solid 2px #E65B5B;
   color: #4A4A4A;
}

ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}
.bod{
	padding-top: 10px;
	margin-top: -20px;
}