.name{
	padding-top: 30px;
	padding-bottom: 20px;
}
.layer{
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 150px;
}
.skip{
	text-align:center; clear:both;padding-top:20px;
}
.now{
	color:white;font-size:20px;font-weight:400;
}