.name{
	padding-top: 30px;
	padding-bottom: 20px;
}
.layer{
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
	padding-bottom: 150px;
}
.skip{
	text-align:center; clear:both;padding-top:20px;
}
.now{
	color:white;font-size:20px;font-weight:400;
}
.no{
	border:none;
}
.sn{
	color: #D48181;
}
.sbt{
	border: 1px solid white;
	color:#EC6A6A;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 20px;
	padding-left: 20px;
background-color: rgba(0,0,0,0.5); 
}
.sbt:hover, .sbt:visited{
	background-color: #EC6A6A;
    color: rgba(0,0,0,0.5);
}
.logout{
	padding-bottom: 30px;
	margin-bottom: 60px;
}
.upload-button {
    display: block;
    float: left;
}

.profile-pic {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.file-upload {
    display: none;
}
.out{
	color:#b8b7ad;
	border:none;
	background:none; 
	font-size: 0.75em;
}
.prof{
	margin-top:-30px;
	margin-left:-20px;
	padding:30px;
	padding-right:100px;
}