<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>MeetApp</title>
		<link rel="icon" type="image/png" href="img/icon.png">
		<link rel="stylesheet" type="text/css" href="css/events.css"/>
		<link rel="stylesheet" type="text/css" href="css/normalizea.css" />
		<link rel="stylesheet" type="text/css" href="css/demoa.css" />
		<link rel="stylesheet" type="text/css" href="css/componenta.css" />
		<link rel="stylesheet" type="text/css" href="css/contenta.css" />
		<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css"/>
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="js/modernizr.customa.js"></script>
		<script type="text/javascript" src="js/events.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.6.2.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
	</head>
	<body ng-app="AuthApp" style="background-image: url(img/bg.jpg);
	background-size: cover;background-position:center;background-repeat:no-repeat;">
	<div class="layer">
			<header class="codrops-header">
				<h1 class="name">MeetApp</h1>
			</header>
			<section>
				<div class="mockup-content">
    <div ng-hide="currentUser">
    				<div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
						<button type="button">SIGN UP</button>
						<div class="morph-content">
							<div>
								<div class="content-style-form content-style-form-2">
									<span class="icon icon-close">X</span>
									<h2>Create your account</h2>
									<form ng-show="scenario == 'Sign up'" name="signup" action="" onSubmit="return validation_for_signup()" method="post">
									Username: <input style="margin-top:-4px;color: #4F002F;width:300px;border-color:rgba(0,0,0,0.2); border-top:none; border-right:none; border-left:none;" id="firstname" type="text" class="validate" name="firstname"  value="" ng-model="user.firstname" size="50"><br/>
								Phone Number: <input style="margin-top:-4px;color: #4F002F;width:300px;border-color:rgba(0,0,0,0.2); border-top:none; border-right:none; border-left:none;" id="phone" type="text" class="validate" name="phone"  value="" ng-model="user.phone" size="50"><br/>
										Email: <input style="margin-top:-4px;color: #4F002F;" id="email" type="email" class="validate" name="email"  value="" ng-model="user.email" size="50"><br/>
								Password:<input style="margin-top:-4px;color: #4F002F;width:300px;border-color:rgba(0,0,0,0.2); border-top:none; border-right:none; border-left:none;" id="password" type="password" class="validate" name="password"  value="" ng-model="user.password"><br/>
								<input class="sbt"  value="Sign up" type="submit" class="sign" onclick="$('.loading').show()" ng-click="signUp(user)"/>
							<div class="progress loading" style="display:none;"><div style="display:none;" class="indeterminate loading"></div></div>
									</form>
									<p style="font-size:12px;text-align:center;">By signing up you agree to our<br/><a class="sn" href="#">Privacy Policy</a> and <a class="sn" href="#">Terms of Service</a></p>
								</div>
							</div>
						</div>
					</div><!-- morph-button -->
					<div><strong class="joiner">or</strong></div>
					<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
						<button type="button">LOGIN</button>
						<div class="morph-content">
							<div>
								<div class="content-style-form content-style-form-1">
									<span class="icon icon-close">X</span>
									<h2>Welcome Back</h2>
									<form ng-show="scenario == 'Sign up'" name="signup" action="" onSubmit="return validation_for_signup()" method="post">
							Username: <input style="color: #4F002F;width:300px;border-color:rgba(0,0,0,0.2); border-top:none; border-right:none; border-left:none;" type="text" ng-model="user.username" /><br />
     Password:<input style="color: #4F002F;width:300px;border-color:rgba(0,0,0,0.2); border-top:none; border-right:none; border-left:none;" id="password" type="password" class="validate" name="password"  value="" ng-model="user.password">
						<input class="sbt" value="login" onclick="$('.loading').show()" ng-click="logIn(user)" class="sign" type="submit"/>
						<div class="progress loading" style="display:none;"><div style="display:none;" class="indeterminate loading"></div></div>
									</form>
								</div>
							</div>
						</div>
					</div><!-- morph-button -->
					</div>
			<div ng-show="currentUser" class="logout">
    <p>Welcome <span style="color:aqua;">{{currentUser.get('username')}}</span></p>
    <p><a href="#" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons right">send</i></a></p>
    <br/>
    <br/>
    <input class="sbt" value="Logout" type="submit" class="sign" ng-click="logOut(user)"/>
  </div>
					<div ng-hide="currentUser" class="skip"><a class="now" href="#">Skip for now <i class="fa fa-chevron-right" style="font-size:14px;"></i></a></div>
					</div>

			</section>
			</div>
		<script src="js/classiea.js"></script>
		<script src="js/uiMorphingButton_fixed.js"></script>
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
   <script type="text/javascript" src="ig/parse.js"></script>
   <script type="text/javascript" src="js/scroll.js"></script>
	</body>
</html>